{"name":"issai_gpt","slug":"issai_gpt","version":"1.0.0","orientation":"portrait","userInterfaceStyle":"light","splash":{"resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"y"},"android":{"adaptiveIcon":{"backgroundColor":"#ffffff"},"permissions":["android.permission.RECORD_AUDIO"]},"web":{},"plugins":[["@react-native-voice/voice",{"microphonePermission":"Allow Voice to Text Tutorial to access the microphone","speechRecognitionPermission":"Allow Voice to Text Tutorial to securely recognize user speech"}]],"extra":{"eas":{"projectId":"76290b47-d5df-4dea-96f5-23d803dc36f6"}},"sdkVersion":"49.0.0","platforms":["ios","android"]}